html {background #FFFFFF;}
body
{
    font-family: Times New Roman, Serif;
    
    background-color: #FAFAFA;
}
<style>
  h1 { 
  	font-size: 58px
  	color: red;
   }
  h2 {
    font-size: 30px;
    color: black;
  }
  h3 {
    font-size: 30px;
    color: black;
  }
  h4 {
    font-size: 30px;
    color: black;
  }
</style>