html {background-color: #FFFFFF;}
body {
  font-family: 'Helvetica Neue Bold', sans-serif;
  margin: 10px;
}



 .site-header img {
  width: 400px;
  height: auto;
  display: block;
  max-width: 100%;
}
  h2 {
    font-size: 30px;
    color: black;
    transition: color 0.4s ease;
  }
  h2:hover {
    color: red;
  }


  h3 {
    font-size: 30px;
    color: black;
    transition: color 0.4s ease;
  }
   h3:hover {
    color: red;
  }

  h4 {
    font-size: 30px;
    color: black;
    transition: color 0.4s ease;
  }
 h4:hover {
    color: red;
  }

.photo-grid {
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;      
     
}

.photo-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;

}

.corner-image {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 500px;
  height: auto;
  z-index: 999;

}

body.home-page {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height: 100vh;            /* full screen height */
  margin: 0;
  padding-top: 30px;
  font-family: 'Helvetica Neue Bold', sans-serif;
  background-color: #FFFFFF;
}

.center-wrapper {
  text-align: center;       /* center text and image */
}

.site-header img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}





